.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEEEEE;
  font-size: small;
  text-align: center;
}

header {
  padding: 25px;
}